@import "vue-select/src/scss/vue-select.scss";

.attendance {
    display: flex;

    .new {
        width: 500px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .activities {
            width: 250px;
        }
        .submit {
            width: 100px;
            margin-top: 16px;
            border-radius: 10px;
            background-color: $francesca-red;
            color: $white;
            &:hover {
                background: $flavius-red;
            }
        }
    }
}